{% extends "blog/master.html" %}

{% block content %}
  {% if messages %}
        <script>
            let messages = [];
            {% for message in messages  %}
                messages.push("{{ message|escapejs }}");
            {% endfor %}
            if (messages.length > 0) {
                alert(messages.join("\n"));
            }
        </script>
    {% endif %}
  {% if form.errors %}
    <p>Tên đăng nhập hoặc mật khẩu sai, xin thử lại</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Bạn không có quyền đăng nhập trang này</p>
    {% else %}
      <p>Đăng nhập để truy cập trang này</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="đăng nhập">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  
  {# Assumes you set up the password_reset view in your URLConf #}
  <p><a href="{% url 'password_reset' %}">Quên mật khẩu?</a></p>

{% endblock %}
