#logo{
	width: 250px;
	height: 100px;
}

#user_info{
	height: 200px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
}

#navi{
	float: left;
	width: 250px;
	min-height: 100vh;
	background-color: red;
}