
{% extends 'blog/master.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}"> 
{% endblock %} 

{% block content %}
    <div>
        Biểu mẫu để tạo blog
    </div>
    <form method="post" action="submitform/" enctype="multipart/form-data" > <!-- Bắt buộc phải có enctype="multipart/form-data-->
        {% csrf_token %}
        {{form.as_div}}
        <input  type="submit" value="gửi">
    </form>
{% endblock %}
