#logo{
	width: 250px;
	height: 100px;
}

#user_info{
	height: 200px;
	margin-top: 10px;
	margin-right: 10px;
	text-align: center;
}

#navi{
	width: 250px;
	position: fixed;
	min-height: 100vh;
	background-color: red;
}

#navi_block{
	float: left;
	padding: 20px 40px;
	background-color: green;
	text-align: center;
	list-style-type: none;
}
#navi_block:hover{
	background-color: antiquewhite;
	cursor: grabbing;
}
#nav_bar{
	overflow: auto;
	border: 3px solid black;
}
#content_block{
	margin-left: 300px;
}
#comment_form{
	background-color: yellow;
}
.item_container{
    text-align: center;    
}
.item_block{
	float: left; 
	padding: 20px 40px;
}
.item_block:hover{
	background-color: gray;
	cursor: move;
}
.page_button{
    text-decoration: none;
    float: left;
    padding: 5px 10px;
}
.page_button:hover{
    background-color: gray;
}
.page_navi{
    text-decoration: none;
    float: left;
    padding: 5px 10px;
}