{% load static %}
<!DOC html>
<html>
<head>
  <title> WDA </title>
  <link rel="icon" type="img/x-icon" href="{% static 'img/benben.jpg' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
</head>
<body>
  <div id = "navi" > 
     <div><img id = "logo" src = "{% static 'img/logo.png' %}"></div>
     <div id = "user_info"> User_name </div>
  </div>

  <div id = "content_block">
  <div> 
    {% include 'navbar.html' %}
  </div> 

 <br>

  <div> 
    <form method="POST" action="/submitform" autocomplete="on"> {% csrf_token %}
        {{ forms.as_div }}
        <input type="submit" value="Gửi" >
    </form>
  </div>
  <br>
  {% for x in comments %}
  {% include 'comment_block.html' with user_name=x.author content=x.user_comment id=x.id %}
  {% endfor %}
</body>
  </div>
</html>